/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
 @tailwind preflight;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

html {
    font-size: 18px;
}

.link {
    @apply .text-blue .no-underline;
}

.link:hover,
.link:focus,
.link:active {
    @apply .border-b-2 .border-blue;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content ul,
.content ol,
.content figure,
.content pre {
    line-height: inherit;
    @apply .mb-4;
}

.clip {
    position: fixed !important;
    clip: rect(1px 1px 1px 1px);
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity .3s;
}

.uniform__potty {
    position: absolute;
    left: -9999px;
}

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor..
  *
  * @import "utilities/backgrond-patterns";
  * @import "utilities/skew-transforms";
  */

.bg-brand{
    background: linear-gradient(180deg, #2A3BC8, #2A3B81) no-repeat;
}

.pin-t-100 {
    top: 100%;
}
